.box {
    width: 200px;
    height: 200px;
    background: #eee;
    text-align: center;
    margin: 10px 0;
    padding:20px;
}


li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted #ddd;
}


.success {
    padding: 10px;
    color: crimson;
    border: 1px dotted crimson;
}

.nike {
    padding: 10px;
    color: limegreen;
    border: 1px dotted limegreen;
}